<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= movieDetails.Title %></title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="images/Sfavicon.png" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="#top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="/" class="logo">
        <img src="images/SATOFLIXlogo.png" alt="Satoflix logo">
      </a>

      <div class="header-actions">

        <button class="search-btn">
          <ion-icon name="search-outline"></ion-icon>
        </button>

        <div class="lang-wrapper">
          <label for="language">
            <ion-icon name="globe-outline"></ion-icon>
          </label>

          <select name="language" id="language">
            <option value="en">EN</option>
            <option value="tr">TR</option>
          </select>
        </div>

        <% if (!login) {%>
          <button id="btn btn-primary" class="btn btn-primary">Log In</button>
          <script>
            document.getElementById('btn btn-primary').addEventListener('click', function () {
              window.location.href = '/login.ejs';
            });
          </script>
          <% } else { %>
            <button id="profileButton" class="btn btn-primary">Profile</button>
            <button id="favoriteButton" class="btn btn-primary"><ion-icon name="heart-outline"></ion-icon></button>
            <script>
              document.getElementById('profileButton').addEventListener('click', function () {
                window.location.href = '/profile.ejs';
              });
              document.getElementById('favoriteButton').addEventListener('click', function () {
                window.location.href = '/favorites.ejs';
              });
            </script>
            <% } %>

      </div>

      <button class="menu-open-btn" data-menu-open-btn>
        <ion-icon name="reorder-two"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>

        <div class="navbar-top">

          <a href="/" class="logo">
            <img src="images/SATOFLIXlogo.png" alt="Satoflix logo">
          </a>

          <button class="menu-close-btn" data-menu-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

        </div>

        <ul class="navbar-list">

          <li>
            <a href="/" class="navbar-link">Home</a>
          </li>

          <li>
            <a href="./movies.ejs" class="navbar-link">Movie</a>
          </li>

          <li>
            <a href="./series.ejs" class="navbar-link">Series</a>
          </li>

          <li>
            <a href="#" class="navbar-link">Pricing</a>
          </li>

        </ul>

        <ul class="navbar-social-list">

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="navbar-social-link">
              <ion-icon name="logo-youtube"></ion-icon>
            </a>
          </li>

        </ul>

      </nav>

    </div>
  </header>





  <main>
    <article>

      <!-- 
        - #MOVIE DETAIL
      -->

      <section class="movie-detail">
        <div class="container">

          <figure class="movie-detail-banner">

            <img src="<%= movieDetails.Poster %>" alt="<%= movieDetails.Title %> movie poster">

            <button class="play-btn">
              <ion-icon name="play-circle-outline"></ion-icon>
            </button>

          </figure>

          <div class="movie-detail-content">


            <h1 class="h1 detail-title">
              <strong><%= movieDetails.Title %></strong>
            </h1>

            <div class="meta-wrapper">

              <div class="badge-wrapper">
                <div class="badge badge-fill"><% if(movieDetails.imdbRating) { %>
                <%= movieDetails.imdbRating %>
                <% } %>
                </div>

                <div class="badge badge-outline">2K</div>
              </div>

              <div class="ganre-wrapper">
                <a href="#"><% if(movieDetails.Genre) { %>
                  <%= movieDetails.Genre  %>
                  <% } %>
                </a>
              </div>

              <div class="date-time">

                <div>
                  <ion-icon name="calendar-outline"></ion-icon>

                  <time><%= movieDetails.Year  %></time>
                </div>

                <div>
                  <ion-icon name="time-outline"></ion-icon>

                  <time><%= movieDetails.Runtime.slice(0, -4)  %></time>
                </div>

              </div>

            </div>

            <p class="storyline"><%= movieDetails.Plot  %></p>

            <div class="details-actions">
            
              <button class="share">
                <ion-icon name="share-social"></ion-icon>
            
                <span>Share</span>
              </button>


              <form id="addFavorite" action="" method="post">
                <input type="hidden" name="favMovieId" value="<%= movieDetails.imdbID %>">
              </form>
              <button id="favoriteButton" class="heart" type="submit" onclick="document.getElementById('addFavorite').submit(); return false">
                <ion-icon name="heart-outline"></ion-icon>
            
                <span>Favorite</span>
              </button>

              <div class="title-wrapper">
                <p class="title">Prime Video</p>

                <p class="text">Streaming Channels</p>
              </div>

              <button class="btn btn-primary">
                <ion-icon name="play"></ion-icon>

                <span>Watch Now</span>
              </button>

            </div>

            <a href="<%= movieDetails.Poster  %>" download class="download-btn">
              <span>Download</span>

              <ion-icon name="download-outline"></ion-icon>
            </a>

          </div>

        </div>
      </section>



      <div class="comment-session">
        <div class="post-comment"> 
          <% commentArray.forEach((comments) => { %>
            <div class="list">
                <div class="user">
                    <div class="user-meta"> 
                        <div class="name"> <%= comments.username %></div>
                        <div class="day"> <%= comments.date %> </div>
                    </div>
                </div>
                <div class="comment-post"> <%= comments.comment %> </div>
            </div>
          <%  }); %>
        </div>    
        <div class="comment-box">
            <div class="user">
                <div class="name"></div>
            </div>
            <form action="" method="POST">
                <textarea name="comment" placeholder="Your Comment"></textarea>
                <button type="submit" class="comment-submit">Comment</button>
            </form>
        </div>
    </div>    

      <!-- 
        - #TV SERIES
      -->

      <section class="tv-series">
        <div class="container">

          <h2 class="h2 section-title">Related Movies</h2>

          <ul class="movies-list">
            <% relatedMoviesDetails.forEach((series, index) => { %>
              <li>
                <div class="movie-card">
          
                  <form id="seriesDetailsForm<%= index %>" action="./movie-details.ejs" method="post">
                    <input type="hidden" name="movieName" value="<%= series.Title %>">
                    <input type="hidden" name="movieId" value="<%= series.imdbID %>">
                  </form>
          
                  <a href="./movie-details.ejs" onclick="document.getElementById('seriesDetailsForm<%= index %>').submit(); return false">
                    <figure class="card-banner">
                      <img src="<%= series.Poster %>" alt="<%= series.Title %> movie poster">
                    </figure>
                  </a>
          
                  <div class="title-wrapper">
                    <a href="./movie-details.ejs" onclick="document.getElementById('seriesDetailsForm<%= index %>').submit(); return false">
                      <h3 class="card-title"><%= series.Title %></h3>
                    </a>
          
                    <time datetime="<%= series.Year %>"><%= series.Year %></time>
                  </div>
          
                  <div class="card-meta">
                    <div class="badge badge-outline">2K</div>
          
                    <div class="duration">
                      <ion-icon name="time-outline"></ion-icon>
                      <time datetime="PT<%= series.Runtime.slice(0, -4) %>M"><%= series.Runtime.slice(0, -4) %></time>
                    </div>
          
                    <div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <data><%= series.imdbRating %></data>
                    </div>
                  </div>
          
                </div>
              </li>
            <% }); %>
          </ul>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand-wrapper">

          <a href="/" class="logo">
            <img src="images/SATOFLIXlogo.png" alt="Satoflix logo">
          </a>

          <ul class="footer-list">

            <li>
              <a href="/" class="footer-link">Home</a>
            </li>

            <li>
              <a href="./movies.ejs" class="footer-link">Movie</a>
            </li>

            <li>
              <a href="./series.ejs" class="footer-link">Series</a>
            </li>

            <li>
              <a href="#" class="footer-link">Pricing</a>
            </li>

          </ul>

        </div>

        <div class="divider"></div>

        <div class="quicklink-wrapper">

          <ul class="quicklink-list">

            <li>
              <a href="#" class="quicklink-link">Faq</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Help center</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Terms of use</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Privacy</a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2023 <a href="#">SATOFLIX</a>. All Rights Reserved
        </p>


      </div>
    </div>

  </footer>





  <!-- 
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top>
    <ion-icon name="chevron-up"></ion-icon>
  </a>





  <!-- 
    - custom js link
  -->
  <script src="/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>