<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= search %>
    </title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="images/Sfavicon.png" type="image/svg+xml">

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body id="#top">

    <!-- 
    - #HEADER
  -->

  <%- include('partials/header.ejs') %>





    <main>
        <article>

            <section class="tv-series">
                <div class="container">

                    <h2 class="h2 section-title">
                        <%= search %>
                    </h2>

                    <% if (response) {%>
                        <ul class="movies-list">
                            <% searchItems.forEach((item, index)=> { %>
                                <li>
                                    <div class="movie-card">

                                        <form id="itemDetailsForm<%= index %>" action="./movie-details.ejs"
                                            method="post">
                                            <input type="hidden" name="movieName" value="<%= item.Title %>">
                                            <input type="hidden" name="movieId" value="<%= item.imdbID %>">
                                        </form>

                                        <a href="./movie-details.ejs"
                                            onclick="document.getElementById('itemDetailsForm<%= index %>').submit(); return false">
                                            <figure class="card-banner">
                                                <img src="<%= item.Poster %>" alt="<%= item.Title %> movie poster">
                                            </figure>
                                        </a>

                                        <div class="title-wrapper">
                                            <a href="./movie-details.ejs"
                                                onclick="document.getElementById('itemDetailsForm<%= index %>').submit(); return false">
                                                <h3 class="card-title">
                                                    <%= item.Title %>
                                                </h3>
                                            </a>
                                        </div>

                                        <div class="card-meta">
                                            <div class="badge badge-outline">2K</div>
                                        </div>

                                    </div>
                                </li>
                                <% }); %>
                        </ul>
                        <% } else { %>
                            <h2 style="color: white;">Opps. We couldn't find any movie or series named <%= search %>
                            </h2>
                            <% } %>

                </div>
            </section>

        </article>
    </main>





    <!-- 
    - #FOOTER
  -->

  <%- include('partials/footer.ejs') %>





    <!-- 
    - #GO TO TOP
  -->

    <a href="#top" class="go-top" data-go-top>
        <ion-icon name="chevron-up"></ion-icon>
    </a>





    <!-- 
    - custom js link
  -->
    <script src="/script.js"></script>

    <!-- 
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>